<div class="top">
    <h1>Sean's Personal To-Do List</h1>
    <form action="/create" method="post">
        <input 
            type="text" 
            class="sticky_text"
            name="body" 
            autofocus 
            placeholder="Write your note here..."
        >
        <input 
            type="hidden" 
            name="authenticity_token" 
            id="authenticity_token" 
            value="<%= form_authenticity_token %>"
        >
    </form>
</div>

<div class="board">
    <% @notes.each do |note| %>
        <div class="sticky_note">
            <div class="delete">
                <%= link_to "X", "/stickyindex/#{note.id}",
                method: "delete" %>
            </div>
            <div class="text">
                <%= note.body %>
            </div>
        </div>
    <% end %>
</div>